<div class="row">
    <div class="card p-0 w-100">
        <div class="d-flex">

            <div class="p-2 h1 mt-1">Code</div>
            <div class="p-2 border-left">
                <span class="h3 d-block"></span>
                <div class="d-block">
                    <span class="badge badge-warning"></span>
                </div>
            </div>
            <div class="ml-auto p-3">
                <div class="media align-items-center">
                    <span class="avatar avatar-sm rounded-circle">
              <img src="" />
            </span>
                    <div class="media-body ml-2 d-none d-lg-block">
                        <span class="mb-0 text-sm font-weight-bold">
                utilisateur</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>